td, th{
    border: 3px solid;
    width: 10 0px;
    height: 40px;
}
thead{
    background-color: aqua;
}
tbody{
    background-color: bisque;
}
tfoot{
    background-color: darkolivegreen;
    text-align: left;
}
table{
    border-spacing: 0px;
    border: 4px solid;
    margin-left: 25%;
}
img{
    width: 700px;
}
li{
    list-style: disc;
}
