body{
    display: grid;
    grid-template-columns: repeat(3, 150px);
    grid-row: 150px;
    grid-template-areas: "header"​

    "aside"​

    "body body body"
    "foter"​;
}
.color{
    background-color: aquamarine;
    border: 1px solid;
    display: flex;
    justify-content: center;
    align-items: center;
}