body{
    font: 13px "Trebuchet MS", Arial, Helvetica, sans-serif;
    background: #B17E4F;
    padding: 20px;
}
.all{
    margin: 0 100px 0 100px;
    padding: 20px;
    display: grid;
    background-color: white;
    grid-template-columns: 30% 1fr 25%;
    grid-auto-rows: auto;
    gap: 20px;
    grid-template-areas: 
    "header header header "
    "img img img"
    "article article  ads"
    "footer footer footer ";
    
}
header{
    grid-area: header;
    display: flex;
    justify-content: center;
    color: white;
}

.li{
    display: inline-block;
    padding: 2% 100px; 
    color: white;
    cursor: pointer;
}
.ul{
    background-color: black;
    padding: 0;
}
.li:hover{
    background-color: #1B3039;
}
a{
    color: #96AE3E;
    cursor: pointer;
    text-decoration: none;
}
a:hover{
    color: green;
}
main{
    grid-area: article;
    margin-left: 10px;
}
aside{
    grid-area: ads;
}
.block{
    background-color: #F0EDE6;
    padding: 1px 10px 10px 10px;
    margin-left: 10px;
}
.ob{
    background-color: #5E9FBD;
    color: white;
    padding: 10px 0 10px 10px;
}
footer{
    background-color: #D1E4A7;
    grid-area: footer;
    text-align: center;
}
.img{
    width: 100%;
    grid-area: img;
}
img{width: 100%;}
.block ul li{
    border-bottom: 1px solid rgba(219, 219, 219, 0.685);
    list-style-type: none;
}
.block ul{
    padding: 0;
}
.block ul li{
    padding-bottom: 10px;
}
.text{
    padding-bottom: 20px;
}
.li> a{
    color: white;
}
h1{
    font-size: 35px;
}