* {
    box-sizing: border-box;
    justify-content: center;
  }
  
  .content {
    display: flex;
    flex-wrap: wrap;
    
  }
  
  .colonka {
    width: 25.3%;
    padding: 15px;
  }
  
  .text {
    background-color: white;
  }
  body{
      background-color: cadetblue;
  }
  img{
      width: 100%;
  }
 